@font-face {
  font-family: "logofont";
  src: url("/assets/fonts/Norse-Bold.woff2") format("woff2"), url("/assets/fonts/Norse-Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#hero-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url(/assets/images/night-sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-caption {
  padding-right: 20px;
  text-align: end;
  height: 5%;
  font-size: smaller;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

#hero {
  display: flex;
  flex-direction: column;
  height: 95%;
  align-items: center;
  justify-content: center;
}

#banner {
  display: flex;
  height: 100px;
  width: 100%;

  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 2.5em;
  font-family: 'logofont', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

#odin-logo {
  border: solid 10px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  background-image: url(/assets/images/odin-lined.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#banner-text {
  display: flex;
  flex-basis: 150px;
  flex-shrink: 0;
  padding-right: 30px;
}

#form-container {
  display: flex;
  height: 100%;
  width: 800px;
  flex-grow: 0;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 960px) {

}

