@font-face {
  font-family: "logofont";
  src: url("/assets/fonts/Norse-Bold.woff2") format("woff2"), url("/assets/fonts/Norse-Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#hero-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url(/assets/images/night-sky.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-caption {
  padding-right: 20px;
  text-align: end;
  height: 5%;
  font-size: smaller;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

#hero {
  display: flex;
  flex-direction: column;
  height: 95%;
  align-items: center;
  justify-content: center;
}

#banner {
  display: flex;
  height: 100px;
  width: 100%;

  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 2.5em;
  font-family: 'logofont', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

#odin-logo {
  border: solid 10px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  background-image: url(/assets/images/odin-lined.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#banner-text {
  display: flex;
  flex-basis: 150px;
  flex-shrink: 0;
  padding-right: 30px;
}

#form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 700px;
  min-width: 500px;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(18, 17, 38);
  color: rgb(244, 241, 236);
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

#form-container * {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem;
  margin-top: 4rem;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.8;
}

.encourage {
  margin-top: 10px; 
}

#main-form {
  /* border: solid red; */
  height: 50%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  /* border: solid green; */
}

#duplicate-account {
  /* border: solid yellow; */
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: rgb(174, 174, 174);
  /* border: solid red; */
}

#form-prompt {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.8;
  /* border: solid red; */
}

.label-input-pair {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px solid green;
  margin: 1%;
}

input, label {
  width: 100%;
  max-width: 100%;
}

label {
  max-width: fit-content;
  border: solid rgb(216, 72, 15);
}
#login {
  color:blueviolet
}

.form-row {
  box-sizing: border-box;
  width: 100%;
  margin: 1%;
  font-size: 14px;
}

@media only screen and (max-width: 960px) {

}



